extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Karina K.

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p(style="text-align:justify")
            |Hi, I am Karina and I am from Kazakhstan. I worked for Shell oil and gas company for the past 5 years, and in my last role as a Commercial Analyst I was working on a 50MW solar project.
            br
            br
            |Following my recent move to the US, I decided it is the time to pursue a new career and become a Fullstack JavaScript Developer. This decision came after serious and prolonged consideration. I know it’s a competitive field, but I was always excited about IT industry and building software. Tackling challenges of code writing and ability to see the results are among many things that appeal to me.
            br
            br
            |Overall I have 9+ years of experience. Throughout these years I was able to develop many useful skills and was highly regarded for being committed, consistently taking ownership and delivering the goals. I believe my previous experience combined with my determination will serve a solid ground for the new launch.
            br
            br
            |Meanwhile, please check my portfolio and feel free to contact me over email.

      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li karina.bolatt@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(target="_blank" href='https://www.linkedin.com/in/karina-karpbayeva-7291b241/') LinkedIn
        a.btn-link(target="_blank" href='https://github.com/karinabolat') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back