extends layout.pug

block content
    p
        a(href='/')
            span &larr;
            |  Home
    .error
        h2= err.status
        h3= `We're sorry, something went wrong.`
        p= err.stack
    

    